<div id="daftar_penyakit">
	<div class="panel panel-primary">
	  <div class="panel-heading">Daftar penyakit yang diketahui</div>
	  <div class="panel-body" style="height: 400px; overflow: auto">
	    <table class="table table-striped">
	    <tbody>
	    <% @diseases.each do |disease|%>
	    	<tr>
		    	<td>
			    	<%= link_to "#{disease.code} #{disease.name}", "\#", 
			    	" data-container" => "body",
			    	"data-toggle" => "popover",
			    	"data-placement" => "right",
			    	"title" => "Info: #{disease.info}", 
			    	"data-content" => "Penanganan: #{disease.handling} jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj" %>
		    	</td>
	    	</tr>
	    <% end %>
	    </tbody>

		</table>
	  </div>
	</div>
</div>