<div id="hero">
	<div class="hero-unit">
	  <h1>ES Apel</h1>
	  <p>Expert System Apel - Merupakan sistem pakar yang digunakan untuk mengidentifikasi hama dan penyakit tanaman apel secara cepat dan tepat.  Metode inferensi yang digunakan adalah forward chaining dimana pelacakan didasarkan atas data atau fakta kemudian menuju pada konklusi berupa kesimpulan jenis hama atau penyakit yang menyerang tanaman apel.
	  </p>
	  <!-- <p>
	    <a class="btn btn-primary btn-large">
	      Learn more
	    </a>
	  </p> -->
	</div>
</div>