<div id="tanya_pakar">
	<ul class="thumbnails">
  <li class="span7">
   <div class="panel panel-success">
	  <div class="panel-heading">Gejala</div>
	  <div class="panel-body" style="height: 300px; overflow: auto">
	    <table class="table table-hover" id="symptoms">
		    <thead>
		    	<tr><td>Gejala yang Timbul</td></tr>
		    </thead>
		    <tbody>
		    <% @symptoms.each do |symptom|%>
		    	<tr>
			    	<td>
				    	<label class="checkbox">
				    		<input type="checkbox" name="symptoms[]" value="<%= symptom.id %>" /> 
				    			<%= "#{symptom.code} - #{symptom.symptom} " %>
				    	</label>
			    	</td>
		    	</tr>
		    <% end %>
		    </tbody>
		</table>
	  </div>
	</div>
  </li>
  <li class="span6">
    <div class="panel panel-info">
	  <div class="panel-heading">Gejala Terpilih</div>
	  <div class="panel-body" style="height: 240px; overflow: auto">
	    <table class="table table-hover">
		    <tbody>
		    </tbody>
		</table>
	  </div>
	</div>
	  <%= form_tag({controller: "home", action: "diagnose"}, method: "get", 
					class: "diagnose_form", remote: true) do %>
		<%= hidden_field_tag :ids %>
		<%= submit_tag "Diagnosa Penyakit", class: "btn btn-large btn-danger" %>
		<%= button_tag "Bersihkan Gejala Terpilih", class: "btn btn-large btn-primary", type: "button", name: "clear" %>
	<% end %>
  </li>
</ul>
	
	
	<div class="panel panel-danger">
	  <div class="panel-heading">Kemungkinan Penyakit</div>
	  <div class="panel-body" style="height: 100px; overflow: auto">
	    <ul>
	    	<li class="span5">
	    		<table class="table table-striped">
				    <tbody>
				    </tbody>
				</table>
	    	</li>
	    	<li class="span7" id="chart">
	    	</li>
	    </ul>
	  </div>
	</div>
	
</div>